:root {
  --purple-color: #9933ff;
  --ligthRed-color: #ff6666;
  --ligthBlue-color: #00ccff;
  --lightGreen-color: #00ff99;
  --ligthYellow-color: #fff9aa;
  --blue-color: #4158d0;
  --pink-color: #c850c0;
  --yellow-color: #ffcc70;
  --black-color: #000000;
  --grey-color: #999999;
  --white-color: #ffffff;
}
