body {
  background-image: linear-gradient(
    to bottom right,
    var(--blue-color),
    var(--purple-color),
    var(--ligthYellow-color)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
