html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--blue-color),
    var(--purple-color),
    var(--ligthYellow-color)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-container {
  margin-left: 150px;
  margin-right: 150px;
}
